# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.venv/
venv/
.env

# Next.js / Node
node_modules/
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# OS / misc
.DS_Store
*.pem
npm-debug.log*
